/* CSS Document */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}


/*-------------------------------------------------------------
GLOBAL DECLARATIONS
-------------------------------------------------------------*/

html { background: #eeeeee; overflow: -moz-scrollbars-vertical; overflow-y: scroll;}
body {font-family: Verdana, Helvetica, Arial, sans-serif; font-size:12px; color:#666666;line-height: 1.2em; width:100%;}

h1 {}

h2 {}

h3 {}

h4 {}

h6 {}

p {margin:1em 0;}



/*-------------------------------------------------------------
LAYOUT
-------------------------------------------------------------*/

#content {margin:auto;}